# Copy to .env and fill in. Never commit .env.
WAZUH_USER=
WAZUH_PASSWORD=

FREEPBX_AMI_USER=
FREEPBX_AMI_SECRET=

SECURITY_ONION_USER=
SECURITY_ONION_PASSWORD=

semaphore_api_token=epwpvw_bb62a2vmtj5efkz1amnt0nul50bama60pees=

REMOTE_DB_PASSWORD=
